<h1>Hello, Brokeass!</h1>

<div style="text-align : center">
<img src="https://media.giphy.com/media/10vfyRDXEr24RW/giphy.gif" alt="Make It Rain" height="642px" width"842px">
</div>

<p>
<%= link_to 'Budget', controller: 'budgets' %>
</p>

<p>
<%= link_to 'Expense', controller: 'expenses' %>
</p>

<p>
<%= link_to 'Income', controller: 'incomes' %>
</p>