<h1>Welcome to budgetDYNAMITE!</h1>

<div style="text-align : center">
    Where your savings dreams come true!<br>
<img src="https://media.giphy.com/media/10vfyRDXEr24RW/giphy.gif" alt="Make It Rain" height="500px" width"500px">
</div>
