// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 
    {
        font-size: 56px;
        color: #3E3E3C;
        text-align: center;

        padding-bottom: 15px;

    }
    
body
    {
        background:#E8E9C9;
    }
    

p {
    font-size: 32px;
    color: #3E3E3C;
    }

a
{
    color: #228D57;
}
    
a:visited
{
    color: #228D57;
}