// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 
    {
        font-size: 56px;
        color: #000000;
        text-align: center;
        text-decoration: underline;
    }
    
body
    {
        background:#045F01;
    }
    

p {
    font-size: 32px;
    color: white;
    }
    
a:visited
{
    color: white;
}