<h1>Show Account</h1>
<p>
    <strong>Welcome, <%= @account.name %>!</strong>
</p>

<p>
    Currently logged in as: <%= @account.username %>
</p>

<%= link_to 'Edit Account', edit_account_path(@account) %><br>
<%= link_to 'Delete Account', account_path(@account),
                method: :delete,
                data: { confirm: 'Are you sure you want to delete your account?' } %>